html {
    margin: 0;
    min-height: 100%;
}
  
body {
    margin: 0;
}
  
#background {
      position: fixed;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      filter: brightness(1.2);
      z-index: -2;
}
  
.headerBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 9;
}
  
.leftBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20em;
}
  
.logoContainer {
    margin: 0.7em 0 0.7em 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 8.8em;
    text-decoration: none;
  
}
  
.logo {
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 7em;
    letter-spacing: 0.1em;
    font-family: "melancholy";
    position: relative;
    
}
  
.logoImageContainer {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}
  
.logoImage {
    width: 2em;
}
  
.logoweebnation {
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 5.2em;
    letter-spacing: 0.1em;
    font-family: "melancholy";
    
}
  
.rightBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.rightBarStuff {
    position: relative;
    color: white;
    width: 13em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5vw;
}
  
.separator {
    width: 2.5em;
    height: 2.5em;
    filter: hue-rotate(140deg);
}
  
.about, .music, .contact {
    font-size: 1.1em;
    text-decoration: none;
    color:rgb(221, 221, 221);
    font-family: "izayoi";
    position: relative;
    padding: 0 6px;
}
  
.about:after, .music:after, .contact:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, rgb(0, 217, 255), rgb(0, 4, 255));
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}
  
.about:hover:after, .music:hover:after, .contact:hover:after {
    width: 100%;
}
  
.about:hover, .music:hover, .contact:hover {
    text-shadow: 0 0 5px rgb(59, 210, 230), 0 0 12px rgb(59, 210, 230), 0 0 20px rgb(59, 210, 230);
    color: white;
}
  
.rightBarStuff.show {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 4;
    padding: 1.5em 0;
    top: 3.4em;
    width: 10em;
    right: -0.42em;
    background: rgba(0, 0, 0, 0.9);
}
  
.menuHamburger {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    right: 2vw;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
  
  
.menuHamburgerBtn {
    width: 25px;
    height: 2.5px;
    background: #fff;
    border-radius: 2px;
    transition: all .25s ease-in-out;
}
  
.menuHamburgerBtn::before, .menuHamburgerBtn::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2.5px;
    background: #fff;
    border-radius: 2px;
    transition: all .25s ease-in-out;
}
  
.menuHamburgerBtn::before {
    transform: translateY(-10px);
}
  
.menuHamburgerBtn::after {
    transform: translateY(10px);
}
  
  .menuHamburger.open .menuHamburgerBtn {
    transform: translateX(-50px);
    background: transparent;
  }
  
  .menuHamburger.open .menuHamburgerBtn:before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  
.menuHamburger.open .menuHamburgerBtn:after {
    transform: rotate(-45deg) translate(35px, 35px);
}
  
.layer1 {
    position: relative;
}

.layer1BgSources {
    font-size: 0.9em;
    position: absolute;
    bottom: -50em;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    padding: 7px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.layer1BgSource1 {
    color: white;

}

.layer1Container {
    padding: 1 em;
    width: 50em;
    height: 20em;
    border-radius: 1.5em;
    margin: 15em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69, 69, 69);
}

.description {
    color: white;
    margin: 3em 2em 3em 5em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
  
form {
    color: white;
    border: 0.2em solid white;
    border-radius: 2em;
    width: 475px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(250, 0, 0, 0.5), rgba(107, 39, 0, 0.5));
}
  
input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
  
::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7; 
}
  
button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
  
svg {
    color: rgb(0, 0, 0);
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}